body {
  font-family: 'Quicksand', sans-serif;
  background-color: #dff0ea;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
  }

h1 {
    color: #4f3a65;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Bitter', serif;

}

.bg-light {
  background-color: #dff0ea !important;
}

h2 {
    color: #574f7d;
    font-weight: bold;
}

h3 {
    color: #95adbe;
    font-weight: bold;
}


table, th, td {
    table-layout: fixed;
    width: 1rem;
    height: 1rem;
    /* border: 1px solid #95adbe; */
    border-collapse: collapse;
    text-align: center;
    position: relative;
    cursor: crosshair;
    /* border-radius: 10px; */
}

table {
  margin-right: 10px;
}

.btn {
    color: #4f3a65;
    padding: 5px 20px;
    margin-right: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.game-section {
  margin-top: 100px;
  margin-left: 10px;
}
.controls {
  margin-bottom: 30px;
}

.instructions {
  margin-bottom: 30px;
}
